
.list-buttons {
    background-color: #b2b2b2;
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px;
}

.list-buttons-popover {
    background-color: #b2b2b2;
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px;
}

.list-context {
    background-color: #b2b2b2;
    width: 50%;
    float: left;
    outline: white solid thin;
    text-align: center;
}

.list-context-popover {
    background-color: #b2b2b2;
    width: 100%;
    float: left;
    outline: white solid thin;
    text-align: center;
    margin: 0px;
}

.item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
}

.item.item-accordion.ng-hide {
    line-height: 0px;
}

.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
    display: block !important;
}

.popover {
    width: 100%;
    height: 183px;
}

.platform-ios .popover .scroll-content {
     margin: 0 0;
}
