<table>
    <tr>
        <td colspan="3" align="center"><h3>방향키</h3></td>
    </tr>
    <tr>
        <td></td>
        <td><button class="button icon ion-arrow-up-a" ng-click="vm.upAction()"></button></td>
        <td></td>
    </tr>
    <tr>
        <td><button class="button icon ion-arrow-left-a" ng-click="vm.leftAction()"></button></td>
        <td><button class="button icon ion-arrow-down-a" ng-click="vm.downAction()"></button></td>
        <td><button class="button icon ion-arrow-right-a" ng-click="vm.rightAction()"></button></td>
    </tr>
</table>